.btn {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    border-radius: 50px;
    text-transform: uppercase;

    @include respond(laptop) {
        font-size: 1.4rem;
        padding: 1.2rem 2.4rem;
    }
    &--primery {
        background-color: $color-primery-dark;
        color: $color-white;

        &-dark {
            color: $color-white;
            background-color: $footer-color;
            font-weight: 900;
        }
    }

    &--secondary {
        background-color: $color-gray-light-1;
        color: $color-primery-dark;
    }
}