.hero {
    &__content {
        grid-column: center-start / col-end 5;
        padding: 3rem 0;

        @include respond(tablet) {
            grid-column: center-start / center-end;
        }

        &--object {
            margin-bottom: 3rem;

            @include respond(laptop) {
                width: 6rem;
            }
        }

        &--header {
            font-size: 4rem;
            font-weight: 900;
            margin-bottom: 3rem;

            @include respond(laptop) {
                font-size: 3rem;
            }
        }

        &--paragraph {
            font-size: 2rem;
            font-family: $font-indie;
            font-weight: 900;
            margin-bottom: 3rem;

            @include respond(laptop) {
                font-size: 1.6rem;
            }
        }

        &--btn,
        &--share {
            margin-bottom: 3rem;
        }

        &--share {
            font-size: 1.6rem;

            @include respond(laptop) {
                font-size: 1.4rem;
            }
        }

        &--company {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__img {
        grid-column: col-start 7 / full-end;
        grid-row: 1 / 3;

        @include respond(laptop) {
            grid-column: col-start 6 / full-end;
        }

        @include respond(tablet) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}