.fa-twitter::before,
.fa-facebook-official::before {
    font-size: 3rem;
    margin-right: .6rem;
}

.fa-fire::before {
    font-size: 3rem;
    color: rgb(250, 94, 94);
}

.fa-instagram::before {
    font-size: 3rem;
    color: #ff1841;
}

.fa-telegram::before {
    font-size: 3rem;
    color: #24a3dc;
}

.fa-whatsapp::before {
    font-size: 3rem;
    color: #00fe6c;
}

.fa-google::before {
    font-size: 3rem;
    color: $color-white;
}

.fa-youtube-play::before {
    font-size: 3rem;
    color: #d60000;
}

.fa-pagelines {
    color: #00afe9;
}

.fa-renren {
    color: #f3000d;
}

.fa-flickr {
    color: $color-white;
}

.fa-magic {
    color: #2b61c4;
}

.fa-meetup {
    color: #fafc00;
}

.fa-medium {
    color: #b200ac;
}

.fa-quora {
    color: #00b12a;
}

.fa-dropbox {
    color: #5100fe;
}

.fa-tumblr {
    color: #7abef9;
}

.fa-check-circle {
    color: $color-primery-dark;
}