.integrate {
    &__content {
        grid-column: center-start / col-end 4;
        display: grid;
        align-items: center;
    }

    &__img {
        grid-column: col-start 6 / center-end;

        img {
            width: 100%;
            height: 100%;
        }
    }
}