.services {
    padding-bottom: 10rem;
    &__container {
        display: flex;
        justify-content: center;
    }

    &__group {
        text-align: center;
        margin: 0 2rem;

        &-icon {
            background-color: rgba(250, 94, 94, 0.253);
            padding: 2rem;
            border-radius: 15px;
            margin-bottom: 1rem;
        }

        &-text {
            color: rgb(250, 94, 94);
        }
    }
}