.services {
    padding-bottom: 10rem;
    &__container {
        display: flex;
        justify-content: center;
    }

    &__group {
        text-align: center;
        margin: 0 2rem;

        &-icon {

            &-1 {
                background-color: rgba(250, 94, 94, 0.233);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }

            &-2 {
                background-color: rgba(38, 158, 218, 0.212);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }

            &-3 {
                background-color: rgba(206, 172, 0, 0.212);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }

            &-4 {
                background-color: rgba(0, 157, 92, 0.226);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }

            &-5 {
                background-color: rgba(94, 60, 166, 0.212);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }

            &-6 {
                background-color: rgba(102, 150, 255, 0.219);
                padding: 2rem;
                width: 8rem;
                height: 8rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }
        }

        &-text {
            &-1 {
                color: rgb(250, 94, 94);
            }

            &-2 {
                color: rgb(38, 158, 218);
            }

            &-3 {
                color: rgb(206, 173, 0);
            }

            &-4 {
                color: rgb(0, 157, 91);
            }

            &-5 {
                color: rgb(93, 60, 166);
            }

            &-6 {
                color: rgb(102, 151, 255);
            }
        }
    }
}