*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @include respond(big-desktop) {
        font-size: 100%; //1rem = 16px
    }

    @include respond(Desktop) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(laptop) {
        font-size: 43.75%; //1rem = 7px
    }

    @include respond(tablet) {
        font-size: 37.5%; //1rem = 6px
    }

    @include respond(phone) {
        font-size: 31.25%; //1rem = 5px
    }

    @include respond(smallphone) {
        font-size: 25%; //1rem = 4px
    }
}

body {
    font-family: sans-serif;
    background-color: $color-gray-light-2;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 108rem;
    margin: 0 auto;
}