.heading {
    &--primery {
        font-size: 2.5rem;
        font-family: $font-orelega;
        font-weight: 300;

        @include respond(tablet) {
            font-size: 2rem;
        }
    }

    &--secondary {
        font-size: 2rem;

        @include respond(tablet) {
            font-size: 1.6rem;
        }
    }

    &--object {
        @include respond(tablet) {
            height: 1rem;
        }
    }
}

.paragraph {
    &--primery {
        font-size: 1.4rem;
        color: $color-gray-light-3;

        @include respond(tablet) {
            font-size: 1.2rem;
        }
    }
    
    &--secondary {
        font-size: 1.3rem;
        color: $color-gray-dark-1;
        
        @include respond(tablet) {
            font-size: 1.2rem;
        }
    }
}