.header__secondary-main {
    margin: 2rem 0;
    font-size: 2.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

.header__secondary-paragraph {
    font-size: 1.6rem;
    font-weight: 900;
    color: $color-gray-dark-1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    display: inline-block;
    margin-bottom: 10rem;
}